.header_bar {
  background: #fff;
  
}
.logo {
  display: block;
  height: 50%;
}
.slide {
  position: fixed;
  bottom: 0;
  top: 64px;
}
:global(.ant-layout-has-sider) {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 64px;
  overflow: hidden;
}
:global(.ant-layout-header) {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid @border-color-base;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

:global(.ant-layout-sider-dark) {
  background: #f5f7fa;
  min-height: ceil(100vh - 64px);
}
:global(.ant-menu) {
  background: #f5f7fa !important;
}