.content {
  padding: 24px;
}
.header {
  padding: 10px 24px;
  border-bottom: 1px solid @border-color-base;
  display: flex;
  justify-content: space-between;
}

.filter {
  background: #F0F2F5;
  padding: 20px;
  margin-bottom: 20px;
}