.login_page {
  .wh(100vw, 100vh);
  background: @background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .content_card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    & > div {
      flex: 1;
      width: 0;
      img {
        width: 100%;
        display: block;
      }
      :global(.ant-input) {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        outline: none;
        padding: 0;
        &:focus {
          outline: none;
        }
      }
    }
  }
}