.ware {
  display: flex;
  dt {
    width: 80px;
    height: 80px;
    img {
      width: 80px;
      height: 80px;
      display: block;
    }
  }
  dd {
    padding: 10px;
    h2 {
      font-size: 14px;
    }
  }
}
.detail {
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}