
.form {
    .container {
        :global {
            .ant-form-item {
                width: 100%;
            }
            .ant-form-item-label {
                text-align: right;
                overflow: hidden;
            }
        }
    }
    .buttons {
        :global(.anticon) {
            margin-right: 0;
        }
        margin-top: 15px;
        text-align: right;
        button {
            margin-left: 10px;
        }
    }
    .foldContainer {
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        p {
            display: inline-block;
            margin-top: 1em;
            margin-bottom: 1em;
            cursor: pointer;
        }
        :global(.anticon-down) {
            transition: transform 200ms ease-in-out;
        }
    }
    .fold {
        .extraContainer {
            display: none;
        }
    }
    .unfold {
        .extraContainer {
            display: block;
            animation: slideUpIn 100ms ease-in-out;
        }
        :global(.anticon-down) {
            transform: rotate(180deg);
        }
    }
}

@keyframes slideUpIn {
    0% {
        transform-origin: 0% 0%;
        transform: scaleY(0);
    }
    100% {
        transform-origin: 0% 0%;
        transform: scaleY(0.6);
    }
}

:global {
    .ant-select-dropdown-menu::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .ant-select-dropdown-menu::-webkit-scrollbar-track-piece {
        background-color: #f1f1f1;
        border-radius: 10px;
    }
    .ant-select-dropdown-menu::-webkit-scrollbar-thumb {
        width: 10px;
        border-radius: 5px;
        background-color: #a8a8a8;
    }
}
